{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Buy Web Address UK{% endblock %}
  <small class="text-muted">With free WHOIS privacy protection</small></h1>
{% endblock %}

{% block content %}

<form method="post">
  <div class="form-row align-items-center">
    <div class="col-8">
      <label class="sr-only" for="domain">Enter the address you want. 
        <em>Don't</em> enter "www."</label>
      <input name="domain" class="form-control form-control-lg" id="domain"
      placeholder="Enter domain, e.g. example.co.uk" required>
    </div>
    <div class="col-4">
      <input type="submit" class="btn btn-success btn-lg btn-block" value="Check availability">
    </div>
  </div>
</form>
<br />

  <p>Use this simple tool to buy your website address (also referred to as domain names). Simply enter the address you wish to purchase into the box above and click 'Check Availability'.</p>
  <p>
      Two simple steps:
  </p>

  <ol>
      <li>Check the website address you want is available</li>
      <ul><li>Not all addesses are available, for example, google.co.uk is
              already taken (obviously!)</li>
      </ul>
      <li>Purchase your web address quickly, <em>before someone else does!</em></li>
      </li>
  </ol>
{% endblock %}
