{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Register Domain{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2>Choose the domains you want to buy</h2>

<form method="post" action="{{ url_for('domains.purchase') }}" id="payment-form">
	<table class="table">
	<thead>
		<th>Domain</th>
		<th>Price</th>
		<th>Available</th>
		<th>Buy</th>
	</thead>
	{% for domain in result %}
	  <tr>
		<td>{{ domain }}</td>
        <td>Price
            &pound;{{ "%.2f" | format(result[domain][1]['price']) }}
        </td>
		<td>{% if result[domain][0]['status'] %}
			Available 
			{% else %}
			Already Taken 
            {% endif %}
		</td>
		<td>{% if result[domain][0]['status'] %}
        <div class="form-group">
            <input type="checkbox" name="domains" value="{{ domain }}" checked />
        </div>
			{% endif %}
		</td>

	  </tr>
	{% endfor %}
	</table>

	<div class="form-group">
		<label for="name">Name</label>
		<input name="name" id="name" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input name="email" type="email" id="email" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="telno">Phone</label>
		<input name="telno" type="telco" id="telno" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="company">Company</label>
		<input name="company" id="company" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="addr1">Address Line 1</label>
		<input name="addr1" id="addr1" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="city">City</label>
		<input name="city" id="city" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="state">State</label>
		<input name="state" id="state" class="form-control" required>
	<div>
	<div class="form-group">
		<label for="zip">Postcode</label>
		<input name="zip" id="zip" class="form-control" required>
	</div>
	<div class="form-group">
		<label for="country">Country</label>
		<input name="country" id="country" class="form-control" required>
	</div>
    
    <div class="form-group">
	    <label for="card-element">
	      Credit or debit card
	    </label>
	
    <div id="card-element">
	  <!-- A Stripe Element will be inserted here. -->
	</div>

	<!-- Used to display Stripe Element errors. -->
	<div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>
</form>


<script>
// Create a Stripe client.
var stripe = Stripe('pk_test_Al8IoI7AEb9jG3eJQD1pniay');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    lineHeight: '18px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});


function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

</script>
<style type="text/css">

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>

{% endblock %}
