{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}Domain Results{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>The following domains were returned, if they're available you're able to purchase them. If the domain is marked as 'Already Taken' then sadly you won't be able to purchase that domain till the current owner's subscription has expired.</p>

<form method="post" action="{{ url_for('domains.purchase') }}" id="payment-form">
	<table class="table table-responsive">
	<thead class="thead-dark">
		<th scope="col">Domain</th>
		<th scope="col">Price</th>
		<th scope="col">Available</th>
		<th scope="col">Buy</th>
    </thead>
    <tbody>
	{% for domain in result %}
	  <tr>
		<td>{{ domain }}</td>
        <td>Price
            &pound;{{ "%.2f" | format(result[domain][1]['price']) }}
        </td>
		<td>{% if result[domain][0]['status'] %}
			Available
			{% else %}
			Already Taken
            {% endif %}
		</td>
		<td>{% if result[domain][0]['status'] %}
        <div class="form-group">
            <input type="checkbox" name="domains" value="{{ domain }}" checked />
        </div>
			{% endif %}
		</td>

	  </tr>
      {% endfor %}
    </tbody>
	</table>

  <form>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="validationServer01">Name</label>
        <input type="text" class="form-control" placeholder="First name" name="name" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Company</label>
        <input type="text" class="form-control" placeholder="Example Co." name="company">
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Email Address</label>
        <input type="email" class="form-control" placeholder="example@karmacomputing.co.uk" name="email">
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Telephone Number</label>
        <input type="tel" class="form-control" placeholder="01234567890" name="telno" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="addr1">City</label>
        <input type="text" class="form-control" placeholder="Address Line 1" name="addr1" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="city">State</label>
        <input type="text" class="form-control" placeholder="City" name="city" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="zip">Zip</label>
        <input type="text" class="form-control" placeholder="Postcode" name="zip" required>
      </div>
    </div>
  </form>

    <div class="form-group">
	    <label for="card-element">
	      Credit or debit card
	    </label>

    <div id="card-element">
	  <!-- A Stripe Element will be inserted here. -->
	</div>

	<!-- Used to display Stripe Element errors. -->
	<div id="card-errors" role="alert"></div>
  </div>
  <br />
  <div class="form-group">
      <button class="btn btn-success btn-lg">Submit Payment</button>
  </div>
</form>


<script>
// Create a Stripe client.
var stripe = Stripe('{{ stripe_pub_key }}');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    lineHeight: '18px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});


function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}

</script>
<style type="text/css">

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
</style>

{% endblock %}
